<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show in Detail</title>
    <link rel="stylesheet" href="/style.css">
    <style>
        h2{
            font-size:25px;
            color: white;
            font-weight: 800;
            text-align: center;
            text-shadow: 1px 1px 10px royalblue;
            margin-top: 20px;
        }
        p{
           color: tomato;
           font-size: 20px;
           text-shadow: 1px 1px 10px black;
        }
    </style>
</head>
<body>
    <h2>Here is your post!!</h2>
    <p>User id:<%=post.id%></p>
    <div class="post">
        <h3 class="user">@<%=post.username%></h3>
        <h3 class="content"><%=post.content%></h4><br>
    </div>
</body>
</html>